<div class="container mx-auto">
    <div class="  text-xl xl:text-3xl text-left font-bold  w-full">
        <h1 class="  w-full xl:pl-20">
            Latest Article
        </h1>
    </div>
    <div class="  overflow-hidden">
        <div class=" px-8 xl:px-4 my-10 overflow-hidden  flex  flex-col xl:flex-row justify-center " role="alert"
            *ngFor=" let blog of blogs ">


            <div class="  my-10 xl:px-4 xl:w-1/3 ">
                <a [routerLink]="" (click)="goToBlogArticlePage(blog.sys.id)" >
                    <img class=" w-full" src="{{ blog.fields.image.fields.file.url }}" alt="">
                    <p class=" text-sm py-2 text-slate-400 font-bold"><i>By {{ blog.fields.author }}</i></p>
                    <h1 class="text-base text-left font-bold ">
                        {{ blog.fields.title }}

                    </h1>
                 </a>
            </div>
       


        </div>
    </div>

    <div class=" mb-14 flex justify-center">
        <button ng-click="showMore()"
            class="bg-green-300 hover:bg-green-500  text-gray-800 text-xl font-bold  py-2 px-28 xl:px-72 rounded">
            Load More
        </button>
    </div>


</div>