<div>
    <div class="
  px-12
  md:px-0
  prose-sm
  lg:prose
  xl:prose-xl
  container
  mx-auto
  mt-8
  mb-24
">
        <div>
            
                <button (click)="goToList()" class=" text-lg xl:text-3xl xl:pl-44 py-10 font-bold text-green-300 hover:text-green-500">
                    Go back
                </button>
            
        </div>
        <div *ngIf="blog.fields" class="text-center flex flex-col text-xl md:text-5xl font-gothambold">


            <div>

                <img class=" xl:px-44" src="{{ blog.fields.image.fields.file.url }}" alt="">

            </div>
            <div class=" text-left text-base xl:text-3xl xl:px-44 py-10">
                <h2>{{ blog.fields.title }}</h2>
            </div>
            <div>
                <h2>{{ blog.fields.body }}</h2>
            </div>
        </div>

    </div>
</div>